<div class="container">
  {% render 'breadcrumb' %}
</div>

{% schema %}
  {
    "name": "Breadcrumbs",
    "class": "bread-crumbs-section",
    "settings": [],
    "presets": [
      {
        "name": "Breadcrumbs",
        "category": "section"
      }
    ]
  }

{% endschema %}